body{
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed';
}
::selection {
  color: #fff;
  background: #eed996;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 42px;
    float: left;
    margin-top: 27px;
    margin-left: 17px;
}
.logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    user-select: none;
}
.top{
    width: 100%;
    height: 120px;
}
a{
    color: #000;
    text-decoration: none;
}
.greet{
    font-size: 40px;
    margin-left: 107px;
    font-weight: 900;
}
.greet2{
    margin-left: 107px;
    font-size: 30px;
}
.grid{
    display: flex;
    margin-left: 107px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.card{
    height: 320px;
    width: 250px;
    background: #eed996;
    margin: 20px;
    margin-left: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.card:hover{
    transform: scale(0.98);
    background: #ddc885;
}
.card i {
    font-size: 120px;
    margin-top: 60px;
}
.card span{
     display: block;
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
}
.card span::selection{
    color: #eed996;
    background: #fff;
}
.select_table{
    position: absolute;
    top: 30px;
    background: #eee;
    border: 1px solid #000;
    height: 240px;
    right: 35%;
    left: 35%;
    text-align: center;
}
.select_table h2 {
    font-size: 28px;
    margin-top: 45px;
}
.select_table select{
    width: 140px;
    height: 30px;
    padding-left: 5px;
    outline: none;
}
.select_table button{
    margin: 5px;
    margin-top: 13px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid #666;
}
.przejdz:hover{
    background: #2ecc71;
    color: #fff;
}
.anuluj:hover{
    background: #e74c3c;
    color: #fff;
}
@-webkit-keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}
@-webkit-keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:hidden}}