body{
    font-family: 'Sofia Sans Extra Condensed';
    overflow-y: hidden;
}
canvas{
 position: absolute;
  top: 0;
  left: 0;
    height: 100%;
    width: 100%;
    outline: none;
image-rendering: pixelated;
    opacity: 0.75;
    z-index: -1;
}
h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
}
form{
    display: block;
    width: 350px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    background: rgb(50,50,50,0.55);
    border-radius: 10px;
    padding-top: 5px;
    color: #fff;
}
input{
    margin-bottom: 30px;
    outline: none;
    padding: 5px;
    padding-left: 6px;
}
input[type=submit]{
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
    font-size: 16px;
}
input[type=submit]:hover{
    background: #fff;
    color: #000;
}
label{
    font-size: 20px;
    font-weight:900;
    margin-right: 10px;
    letter-spacing:1px;
}
i{
    margin-right: 10px;
}
.error{
    margin-bottom: 20px;
    color: #e74c3c;
    font-weight: 900;
    font-size: 22px;
}
.preloader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}