body{
     margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed';
    padding-right: 50px;
    padding-left: 50px;
}
::selection {
  color: #fff;
  background: #eed996;
}
table{
    margin: auto;
    font-size: 25px;
    border: 1px solid #000;
    margin-bottom: 50px;
    background: #eed996;
    margin-top: -15px;
}
.more_btn{
    display: block;
    float: left;
    margin-bottom: 80px;
    height: 60px;
    width: 150px;
    cursor: pointer;
    background: #bba774;
    outline: none;
    border: 1px solid #eed996;
    transition: 0.4s;
    font-size: 23px;
    font-family: 'Sofia Sans Extra Condensed';
    font-weight: 900;
    color: #fff;
}
.more_btn:hover{
    background: #eed996;
}
#more_btn{
    margin-right: 20px;
}
.button_wrapper{
    width: 320px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 52px;
    margin-top: 60px;
    margin-bottom: 80px;
}
td, th{
    border: 1px solid #000;
    padding: 6px;
    transition: 0.15s;
    background: #fff;
}
tr:hover >td{
    background: #eed996;
    cursor: pointer;
}
td:hover{
    background: #bba774 !important;
}
.arrow{
    position: absolute;
    top: 0px;
    left: 10px;
}
.insert_form{
    position: fixed;
    top: 50px;
    left: 35%;
    right: 35%;
    max-height: 80%;
    min-width: 350px;
    background: #eee;
    border: 1px solid #000;
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    overflow-y: scroll;
}
.insert_form > h2{
    margin-top: 50px;
    font-size: 42px;
}
.insert_form  input{
    outline: 0;
    padding: 5px;
    margin: 10px;
}
.insert_form  select{
    outline: 0;
    padding: 5px;
    margin: 10px;
}
#plus, #struktura, #pencil, #block{
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 30px;
    float: left;
    margin-right: 15px;
}
#struktura{
    padding-top: 1px;
    color: #000;
}
.insert_form button, .insert_form input[type=submit]{
    background: transparent;
    border: 1px solid #666;
    padding: 12px;
    width: 100px;
    cursor: pointer;
    transition: 0.4s;
}
.insert_form input[type=submit]:hover{
    background: #2ecc71;
    color: #fff;
}
.insert_form button:hover{
    background: #e74c3c;
    color: #fff;
}
.insert_response{
    position: fixed;
    top: 150px;
    left: 33%;
    right: 33%;
   height: 115px;
    background: #eee;
    border: 1px solid #000;
    text-align: center;
    padding-top: 55px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #2ecc71;
    cursor: pointer;
    padding-left: 10px;
    padding-right; 10px;
}
.insert_error{
     text-decoration-color: #e74c3c;
}
.foreign_key{
    text-shadow: 0 0 3px #000;
    color: silver;
}
.primary_key{
    text-shadow: 0 0 3px #000;
    color: gold;
}
input[type=checkbox]{
    cursor: pointer;
}
.tr_focused td{
    background: #eed996;
}
.error{
    color: #e74c3c;
    font-size: 26px;
}
.decision{
    margin: auto;
    position: fixed;
    width: 400px;
    height: 120px;
    top: 30px;
    left: 0;
    right: 0;
    max-width: 90%;
    background: #eee;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
    border: 1px solid #000;
}
#button_nie{
    background: #e74c3c;
    border: 0;
    outline: none;
    height: 35px;
    width: 100px;
    color: #fff;
    font-family: 'font';
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
#button_nie:hover{
    background: #d63b2b;
}
#button_tak{
    background: #2ecc71;
    border: 0;
    outline: none;
    height: 35px;
    width: 100px;
    color: #fff;
    font-family: 'font';
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
#button_tak:hover{
    background: #1dbb60;
}
.zaznacz{
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}
#new_user > span{
    color: #bba774;
    font-weight: 600;
    cursor: pointer;
}
#new_user > span > span{
    color: #000;
    font-weight: 600;
   border: 1px solid #000;
    padding: 10px;
    cursor: auto;
}
.section{
    background: #999;
    width: 500px;
    color: #fff;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}
.section p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@-webkit-keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}
@-webkit-keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:hidden}}