body{
     margin: 0;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed';
    padding-right: 50px;
    padding-left: 50px;
}
table{
    margin: auto;
    font-size: 25px;
    border: 1px solid #000;
    margin-bottom: 100px;
    background: #eed996;
}
h1{
    text-align: center;
    font-size: 52px;
    margin-top: 60px;
    margin-bottom: 80px;
}
td, th{
    border: 1px solid #000;
    padding: 6px;
    transition: 0.15s;
    background: #fff;
}
tr:hover >td{
    background: #eed996;
    cursor: pointer;
}
td:hover{
    background: #bba774 !important;
}
.arrow{
    position: absolute;
    top: 0px;
    left: 10px;
}
.insert_form{
    position: fixed;
    top: 50px;
    left: 35%;
    right: 35%;
    max-height: 80%;
    background: #eee;
    border: 1px solid #000;
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    overflow-y: scroll;
}
.insert_form > h2{
    margin-top: 50px;
    font-size: 42px;
}
.insert_form  input{
    outline: 0;
    padding: 5px;
    margin: 10px;
}
.insert_form  select{
    outline: 0;
    padding: 5px;
    margin: 10px;
}
#pencil{
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.insert_form button, .insert_form input[type=submit]{
    background: transparent;
    border: 1px solid #666;
    padding: 12px;
    width: 100px;
    cursor: pointer;
    transition: 0.4s;
}
.insert_form input[type=submit]:hover{
    background: #2ecc71;
    color: #fff;
}
.insert_form button:hover{
    background: #e74c3c;
    color: #fff;
}
@-webkit-keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}
@-webkit-keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:hidden}}