body{
    font-family: 'Sofia Sans Extra Condensed';
}
canvas{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
margin-top: 150px;
}
h1{
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
}
form{
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
input{
    margin-bottom: 20px;
    outline: none;
}
input[type=submit]{
    background: transparent;
    border: 1px solid #000;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    transition: 0.4s;
}
input[type=submit]:hover{
    background: #000;
    color: #fff;
}
label{
    font-size: 20px;
    font-weight:900;
}